<html>
	<head>
		<title>Program za vnos delovnih nalogov</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="./stylesheets/style.css" rel="stylesheet">
		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>
	<body ng-app="delovniNalogi">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<nav><a href="#/domov">Home</a><a href="#/osebe">Osebe</a><a href="#/stranke">Stranke</a></nav>
				<!-- We use UI-Router instead of ngRoute -->
				<ui-view></ui-view>
			</div>
		</div>
	</body>
	
	<!-- ***************************** -->
	<!-- Inline templates locate below -->
	<!-- ***************************** -->
	
	<!-- Template for homepage -->
	<script type="text/ng-template" id="/home.html">
		<div class="page-header">
				<h1>Program za vnos delovnih nalogov</h1>
		</div>
	<!-- Show all posts, sorted by upvotes -->
	<div ng-repeat="post in posts ">
		<span style="font-size: 20px; margin-left: 10px;">
			<!-- Animations in ngShow/ngHide work with the show and hide events that are triggered when the directive expression is true and false. -->
			<a href="#/posts/{{post._id}}">
				{{post.oseba}}
			</a>
			<span>
				{{post.datum_naloge | date: "dd-MM-yyyy"}}
			</span>
			<span>
				{{post.datum_zakljucka | date: "dd-MM-yyyy"}}
			</span>
			<span>
				{{post.stranka}}
			</span>
			<span>
				{{post.st_ur}} ur
			</span>
		</span>
		<!-- Link for deleting post-->
		<span style="float: right;" ng-click="deletePost(post)">
			<a href="#"> Delete </a>
		</span>
	</div>
	<!-- Finally the new post form -->
	<form ng-submit="addPost()" style="margin-top:30px;">
		<h3>Dodaj novi nalog</h3>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Oseba" ng-model="oseba" required></input>
		</div>
		<div class="form-group">
			<input type="date" class="form-control" placeholder="Datum naloge" ng-model="datum_naloge"></input>
		</div>
		<div class="form-group">
			<input type="date" class="form-control" placeholder="Datum zakljucka" ng-model="datum_zakljucka" required></input>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Stranka" ng-model="stranka" required></input>
		</div>
		<div class="form-group">
			<input type="number" class="form-control" placeholder="Število porabljenih ur" ng-model="st_ur" required></input>
		</div>
		<button type="submit" class="btn btn-primary">Dodaj</button>
	</form>
	</script>
	
	<!-- Template for single post page -->
	<script type="text/ng-template" id="/posts.html">
		<div class="page-header">
				<h1>Vsi</h1>
		</div>
			<h3>
				<a href="javascript:history.go(-1)">
						{{post.oseba}}
				</a>
					</h3>
	<!-- Content -->
	</script>
	<!-- Osebe Template -->
	<script type="text/ng-template" id="/osebe.html">
		<div class="page-header">
				<h1>Osebe</h1>
		</div>
				<div ng-repeat="post in posts | orderBy: '+st_ur' ">
					<span style="font-size: 20px; margin-left: 10px;">
						<div class="col-md-4">
								<span>{{post.oseba}}</span>
						</div>
						<div class="col-md-4">
								<span>{{post.st_ur}} ur</span>
						</div>
						<div class="col-md-4">
								<span style="float: right;" ng-click="deletePost(post)">
										<a href="#"> Delete </a>
								</span>
						</div>
					</span>
				</div>
	<!-- Content -->
	</script>
	<script type="text/ng-template" id="/stranke.html">
		<div class="page-header">
				<h1>Stranke</h1>
		</div>
			<div ng-repeat="post in posts | orderBy: '-st_ur' ">
				<span style="font-size: 20px; margin-left: 10px;">
					<div class="col-md-4">
							<span>{{post.stranka}}</span>
					</div>
					<div class="col-md-4">
							<span>{{post.st_ur}} ur</span>
					</div>
					<div class="col-md-4">
							<span style="float: right;" ng-click="deletePost(post)">
									<a href="#"> Delete </a>
							</span>
					</div>
				</span>
		<!-- Link for deleting post-->
	</div>
	<!-- Content -->
	</script>
</html>