body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*a {
  color: #00B7FF;
}*/


nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 1;
      -ms-flex: 1 1 1;
          flex: 1 1 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
nav a {
  font-size: 0.7rem;
  text-decoration: none;
  padding: 1rem;
  background: #34495e;
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  display: inline-block;
}
 nav a:hover {
  -webkit-animation: rotateLink 0.5s cubic-bezier(0.53, 0.23, 0.61, 1.25) forwards;
          animation: rotateLink 0.5s cubic-bezier(0.53, 0.23, 0.61, 1.25) forwards;
  background: #233140;
  color: #fff;
}
nav a:active {
  background: #1a242f;
}
nav a:first-child {
  border-radius: 2rem 0 0 2rem;
  padding-left: 2rem;
}
nav a:last-child {
  border-radius: 0 2rem 2rem 0;
  padding-right: 2rem;
}
@-webkit-keyframes rotateLink {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@keyframes rotateLink {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}